@page "/"
@using Microsoft.Extensions.Configuration
@namespace FBikeInput.Pages
@inject IConfiguration Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FBike Monitor</title>
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />

    <base href="~/" />
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    
    <div id='map' style='width: 1024px; height: 400px;'></div>
    <div id='pano' style='width: 1024px; height: 800px;'></div>
</app>
    
<script>
    var currentLong = 12.550343;
    var currentLat = 55.665957;
    var pov = { heading: 0, pitch: 10 };

    var mapTarget = document.getElementById('map');
    var panoTarget = document.getElementById('pano');

    var map;
    var panorama;
    function initMap() {
        var position = { lat: currentLat, lng: currentLong };
        map = new google.maps.Map(mapTarget, { center: position, zoom: 18 });
        panorama = new google.maps.StreetViewPanorama(panoTarget, { position, pov });
        map.setStreetView(panorama);
    }

    function getCurrentLongLat() {
        return [currentLong, currentLat];
    }

    function updateLongLat(long, lat) {
        currentLong = long;
        currentLat = lat;

        var position = { lat: currentLat, lng: currentLong };
        map.panTo(position);

        var panorama = new google.maps.StreetViewPanorama(panoTarget, { position, pov });
        map.setStreetView(panorama);
    }
</script>

@{
    var apiKey = Configuration.GetValue<string>("GoogleMapsKey");
}

    <script src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&callback=initMap" async defer></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>